{% extends 'base.html' %} {% block content %}

<div class="container">
<br><br><br><br>
    <div class="card">
        <div class="card-body">
            <span style="margin: 5%; font-size: 22px">

                    The Blog Central is an ambitious multimedia effort founded in 2020 to examine how technology will change life in the future for a massive mainstream audience.<br><br>
                    Our original editorial insight was that technology had migrated from the far fringes of the culture to the absolute center as mobile technology created a new generation of digital consumers. <br><br>
                    Now, we live in a dazzling world of screens that has ushered in revolutions in media, transportation, and science. <br><br>
                    The future is arriving faster than ever. <br><br>
                    Our mission is to empower the most talented web voices and their audiences.<br><br>
                    Got a tip for us? <a href="{% url 'contact' %}"> Here's how to send it securely.</a><br><br>

            </span>
        </div>


    </div>

</div>
{% endblock content %}